{% extends "base.html" %}

{% block site_meta %}
  <meta name="robots" content="noindex">
  {{ super() }}
{% endblock %}

{% block site_nav %}
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}

      <style>
        /* Hide the collapsible content by default */
        .collapse-content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
        }
    
        /* Arrow button styling */
        .collapse-btn {
          background-color: #007bff;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 16px;
          outline: none;
        }
    
        .collapse-btn:hover {
          background-color: #0056b3;
        }
    
        /* Arrow styling */
        .collapse-btn::after {
          content: '\25BC'; /* Down arrow */
          margin-left: auto;
          transition: transform 0.3s ease;
        }
        /* Rotate the arrow when checkbox is checked */
      input[type="checkbox"]:checked + .collapse-btn::after {
        transform: rotate(180deg); /* Up arrow */
      }

      /* Show the collapsible content when checkbox is checked */
      input[type="checkbox"]:checked ~ .collapse-content {
        max-height: 500px; /* Adjust based on your content height */
      }
      </style>

      <!-- Checkbox to control the collapsible section -->
      <input type="checkbox" id="collapse-toggle" style="display: none;">

      <!-- Button to trigger collapse -->
      <label for="collapse-toggle" class="collapse-btn">Toggle Section</label>
  
      <!-- Collapsible content -->
      <div class="collapse-content">

      {% endif %}
      <div class="md-sidebar md-sidebar--primary" data-md-component="sidebar" data-md-type="navigation" {{ hidden }}>
        <div class="md-sidebar__scrollwrap">
          <div class="md-sidebar__inner">
            {% include "partials/nav.html" %}
          </div>
        </div>
      </div>
  {% endif %}
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" {{ hidden }}>
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/toc.html" %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}